body {
	background-color: #000000;
	color: white;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	
}
#background {
	bottom: 0px;
	right: 0px;
	left: 0px;
	top: 60px;
	position: absolute;
	background-repeat: no-repeat;
}
@media all and (min-aspect-ratio: 1600/1250) and (max-aspect-ratio: 1600/1059) { /* 1.28 */ 
	#background {
		background-size: 100% 100%;
	}
}
@media all and (max-aspect-ratio: 1600/1250) {
	#background {
		background-size: cover;
		background-position: center bottom;
	}
}
@media all and (min-aspect-ratio: 1600/1059) {
	#background {
		
		background-size: cover;
		background-position: center -70px;
	}
}
h1 {
	font-size: 38.5px;
	line-height: 40px;
	margin: 10px 0;
	padding-bottom: 10px;
	border-bottom: solid 1px #333333;
	text-rendering: optimizelegibility;
	position: relative;
	background-color: black;
	opacity: 0.8;
}
#left {
	position: relative;
	width: 300px;
	float: left;
	z-index: 1;
}
.box {
	background-color: rgba(35, 35, 35, .9);
	padding: 5px;
}
a {
	color: #dddddd;
}
