<!DOCTYPE html>
<html>
<head>
<title>Payal and Justin's Wedding</title>
<link rel="stylesheet" type="text/css" href="style.css"/>
</head>
<body>
	<div id='background'></div>
	<h1>Save the date!</h1>
	<div id='left'>
		<div class='box'>
			August 10th, 2013 at the
			<a href='https://maps.google.com/maps?q=400+S.+State+Street,+60605&hnear=400+S+State+St,+Chicago,+Cook,+Illinois+60605&gl=us&t=m&z=16'>Harold Washington Library</a>.
			More details coming soon.
		</div>
		<div class='box'>
			
		</div>
	</div>
	<script src='http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js'></script>
	<script src='can.jquery-all.min.js'></script>

	<script src='std.js'></script>
</body>
</html>