<p class='manglik border-radius3'>{{instructions}}</p>

<table class='table span12'>
	<thead>
		<tr class='dates'>
			<th class='empty'></th>
			{{#dates}}
				<th colspan="{{count}}" class="day{{day}}">
					{{date}}
				</th>
			{{/dates}}
		</tr>
		<tr class='times'>
			<th class='empty'></th>
			{{#events}}
				<th class="day{{day}}">
					{{time date}}
				</th>
			{{/events}}
		</tr>
		<tr class='titles'>
			<th class='empty'></th>
			{{#events}}
				<th class="day{{day}}">
					{{title}}
				</th>
			{{/events}}
		</tr>
	</thead>
	<tbody>
		{{#family}}
		 	{{#attendee}}
			<tr {{data "attendee"}}>
				<td {{#editablename}}class='editable'{{/editablename}}>
					{{#editablename}}
						<div class='name-value'>
							<span>{{name}}</span> <span class='icon-pencil'></span>
						</div>
						<input type='text' {{value name}} style="display:none" class='name-edit'/>
					{{/editablename}}
					{{^editablename}}
						<span>{{name}}</span>
					{{/editablename}}
				</td>
				{{#events}}
					<td class='{{status attendee}} day{{day}} event-attendence {{name}}'>
						{{{rsvp attendee}}}
					</td>
				{{/events}}
			</tr>
			{{/attendee}}
		{{/family}}
	</tbody>

</table>

<input type="submit" value="Submit RSVP" id='rsvp-button' class='btn btn-large btn-primary'/>
<span class='success' id='thankyou' style="display:none">Thank you for RSVPing.</span>