<input name="search" {{placeholder "Search for your name"}}/>
<ul class="dropdown-menu" role="menu">
	{{#results.length}}
		{{#results}}
			<li {{data 'result'}}>
				<a href="javascript://">{{text}}</a>
			</li>
		{{/}}
	{{/results.length}}
	{{^results.length}}
		<li>No Results</li>
	{{/}}
</ul>